$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

@function translate-media-condition($c) {
  $conditionsMap: (
    "mobile":
      "(min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px})",
    "tablet":
      "(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})",
    "desktop": "(min-width: #{$desktop-width})",
  );
  @return map-get($conditionsMap, $c);
}

@mixin media($args...) {
  $result: "";
  @each $arg in $args {
    $result: translate-media-condition($arg);
    @media #{$result} {
      @content;
    }
  }
}
