.button {
  @include button-reset;

  font-size: 16px;
  line-height: 20px;

  display: block;
  cursor: pointer;
  padding-block: 10px;

  text-transform: uppercase;

  @include media("tablet", "desktop") {
    padding-block: 10px;
  }
}

.button--primary {
  background-color: $basic-green-color;
  color: $white-text-color;
}

.button--large {
  @include media("tablet") {
    font-size: 20px;
    line-height: 26px;
    padding-block: 14px;
  }
}

.button--secondary {
  background-color: #f2f2f2;
  color: $secondary-text-color;
}
