.header {
  display: flex;
  flex-direction: column;

  @include media("desktop") {
    background-image: linear-gradient(
        to right,
        transparent 50%,
        rgba(104, 183, 56, 0.85) 50%
      ),
      url("../../images/promo-background@2x.jpg");
    background-repeat: no-repeat;
    background-size:
      cover,
      50% 100%;
    background-position: right;
  }
}

.header__navigation {
  @include media("tablet", "desktop") {
    margin-top: 25px;
  }
}
