.instruction {
  counter-reset: step 0;
}

.instruction__title {
  font-family: $primary-font;
  font-size: 36px;
  line-height: 40px;
}

.instruction__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet-width) {
  }
}

.instruction__step {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  display: flex;
  gap: 10px;

  counter-increment: step 1;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    background-color: $basic-green-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  &--nutrition::before {
    background-image: url(../../icons/stack.svg#icon-leaf);
  }

  &--powder::before {
    background-image: url(../../icons/stack.svg#icon-water);
  }

  &--meal::before {
    background-image: url(../../icons/stack.svg#icon-eat);
  }

  &--result::before {
    background-image: url(../../icons/stack.svg#icon-timer);
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    gap: 80px;

    &::after {
      content: counter(step);
    }
  }
}
