.location {
  position: relative;
}

.location__map {
  display: block;
  aspect-ratio: 320/362;
  background-image: url(../../images/location@1x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width) {
    aspect-ratio: 768/400;
    background-image: url(../../images/location-tablet@1x.png);
  }

  @media screen and (min-width: $desktop-width) {
    background-image: url(../../images/location-tablet@1x.png);
    aspect-ratio: 1440/400;
  }
}

.location__contacts {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 5px;

  @include media("tablet") {
    padding-block: 60px;
    padding-inline: 70px;
  }

  @include media("desktop") {
    padding: 60px 80px;
    width: 565px;

    position: absolute;
    top: 95px;
    left: 10%;
  }
}

.location__contacts-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-height: 80px;
}

.location__contacts-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  margin-right: 17px;

  @include media("tablet", "desktop") {
    max-width: 163px;

    font-size: 20px;
    line-height: 26px;
  }
}

.location__contacts-address {
  font-family: $secondary-font;
  color: $secondary-text-color;
  line-height: 20px;

  @include media("tablet", "desktop") {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 157px;
    text-align: right;
  }

  @include media("desktop") {
    align-self: stretch;
    text-align: left;
  }
}

.location__contacts-city {
  color: inherit;
  font-family: inherit;
}
