.program-card {
  box-sizing: border-box;
  background-color: #f2f2f2;
  max-width: 570px;
  padding: 20px;

  @include media("tablet") {
    display: grid;
    grid-template-columns: [left] 1fr [right]270px;
    grid-template-rows: [top] 1fr [bottom] 1fr;
  }
}

.program-card__header {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;

  @include media("mobile", "desktop") {
    &::before {
      content: "";
      display: block;
    }
  }
}

.program-card--slim .program-card__header::before {
  @include media("mobile", "desktop") {
    background-image: url("../../icons/stack.svg#cat-slim");
  }

  @include media("mobile") {
    width: 50px;
    height: 53px;
  }

  @include media("desktop") {
    width: 100px;
    height: 106px;
  }
}

.program-card--pro .program-card__header::before {
  @include media("mobile", "desktop") {
    background-image: url("../../icons/stack.svg#cat-power");
  }

  @include media("mobile") {
    width: 67px;
    height: 50px;
  }

  @include media("desktop") {
    width: 134px;
    height: 100px;
  }
}

@include media("tablet") {
  .program-card::after {
    grid-row-start: top;
    grid-row-end: span bottom;
    grid-column-start: right;
    grid-column-end: right;
    content: "";
    place-self: stretch;
    display: block;
  }

  .program-card--slim::after {
    background-image: url("../../icons/stack.svg#cat-slim");
    width: 140px;
    height: 194px;
  }

  .program-card--pro::after {
    background-image: url("../../icons/stack.svg#cat-power");
    width: 268px;
    height: 200px;
  }
}

.program-card__title {
  text-transform: uppercase;
}

.program-card__description {
  font-family: $secondary-font;
  color: $secondary-text-color;

  &::after {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    margin-block: 20px;
  }
}

.program-card__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 16px;
  color: $primary-text-color;
  display: flex;
  align-items: center;
  gap: 5px;

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    transform: scaleX(1.3);
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 10px;

    background-image: url(../../icons/stack.svg#icon-arrow-right);
    background-size: cover;

    transition: transform 0.3s ease;
    transform-origin: left;
  }
}
